## Task 
* A data scientist has been tasked by a US based Higher Education Institute with analyzing the provided dataset of Cyber Security roles to recommend two specializations for the study program, ensuring abundant opportunities for graduates upon program completion, along with a focus on achieving a good salary range.

In [1]:
import pandas as pd
salaries = pd.read_csv("salaries.csv")
salaries

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2024,SE,FT,Cyber Security Consultant,175000,USD,175000,US,100,US,L
1,2024,MI,CT,Vulnerability Management Engineer,50000,USD,50000,CR,0,CR,M
2,2024,MI,CT,Vulnerability Management Engineer,50000,USD,50000,CR,0,CR,M
3,2024,SE,FT,Security Engineer,238050,USD,238050,US,0,US,M
4,2024,SE,FT,Security Engineer,146200,USD,146200,US,0,US,M
...,...,...,...,...,...,...,...,...,...,...,...
6412,2020,MI,FT,Cyber Security Analyst,140000,AUD,96422,AU,50,AU,M
6413,2021,SE,FT,Information Security Manager,60000,GBP,82528,GB,50,GB,L
6414,2021,SE,FT,Penetration Testing Engineer,126000,USD,126000,US,100,US,L
6415,2021,MI,FT,Information Security Analyst,42000,GBP,57769,GB,100,GB,L
6416,2021,MI,FT,Threat Intelligence Analyst,66310,USD,66310,US,0,US,L

In [2]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6417 entries, 0 to 6416
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           6417 non-null   int64
 1   experience_level    6417 non-null   object
 2   employment_type     6417 non-null   object
 3   job_title           6417 non-null   object
 4   salary              6417 non-null   int64
 5   salary_currency     6417 non-null   object
 6   salary_in_usd       6417 non-null   int64
 7   employee_residence  6417 non-null   object
 8   remote_ratio        6417 non-null   int64
 9   company_location    6417 non-null   object
 10  company_size        6417 non-null   object
dtypes: int64(4), object(7)
memory usage: 551.6+ KB

##### First Step
* Lets check if there is any value missing or in the file or any bad characters are overthere.

In [5]:
salaries.isnull().sum()

work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

* No empty value is overthere in all columns.

#### Second step
* Lets create a fu7nction to find out if there is any special character or bad character is in file.

In [11]:
def bad_cha(file_name):   
    bad_c = ["(",")"," ","c",".","'","s""-","_"]
    count = 0   
    for cl in file_name: # iterate over each column of the file
        for char in cl: # iterate over each cell of the column
            if char in bad_c:
                count +=1
    return count

In [12]:
file_name = 'salaries'
bad_cha(file_name)

0

In [13]:
# We can further verify if our function is working properly or not 

l = "60'50"
bad_cha(l)

1

* Its verified now that our file is clean. No need to work on cleaning the file.

#### Third step 
* After completing data cleaning on the file, the next step toward addressing our main objective is to identify which job title appears most frequently in the dataset. This will provide insight into the most common roles within the dataset, aiding in the decision-making process for specialization within the cybersecurity degree program.

In [14]:
job_title_counts = salaries['job_title'].value_counts()
print(job_title_counts)

job_title
Security Engineer                        2526
Security Analyst                          444
DevSecOps Engineer                        305
Security Architect                        222
Cyber Security Analyst                    169
                                         ...
Cyber Security Lead                         1
Security Analytics Lead                     1
Business Information Security Officer       1
Systems Security Engineer                   1
Concierge Security Engineer                 1
Name: count, Length: 148, dtype: int64

* "Security Engineer" and "Security Analyst" are the most frequently occurring job titles in the dataset, it suggests a high demand for professionals in these roles within the field of cybersecurity. This information can inform decision-making regarding specialization within the cybersecurity degree program.

#### Fourth Step
* The next step is to analyze the experience level, remote job options, company size, and salary offered for the roles of "Security Engineer" and "Security Analyst."

In [15]:
# Filter out the "Security Engineer" record

specific_job_df = salaries[salaries['job_title'] == 'Security Engineer']
    
# Filter further to include only records where the employee residence is 'US'
specific_job_df_us = specific_job_df[specific_job_df['employee_residence'] == 'US']
print(len(specific_job_df_us))

2349

* Creating a function that takes two parameters: job_title and a DataFrame named "salaries". This function will generate a dictionary where each key represents an experience level, and its corresponding value is a list of salaries associated with that experience level. The function specifically focuses on jobs based in the US, ensuring that only salaries from US-based positions are included in the dictionary.

In [16]:
def salary(job_title, salaries):
  
    specific_job_df = salaries[salaries['job_title'] == job_title]
    
   
    specific_job_df_us = specific_job_df[specific_job_df['employee_residence'] == 'US']

    # Initialize dictionary to store salaries for each experience level
    salaries_by_experience = {
        "SE": [],
        "MI": [],
        "EN": [],
        "EX": []
    }

    # Iterate over each row index of the filtered DataFrame
    for index in specific_job_df_us.index:
        
        experience_level = specific_job_df_us.loc[index, 'experience_level']
        salary_in_usd = specific_job_df_us.loc[index, 'salary_in_usd']

        # Append the salary to the appropriate list based on experience level
        salaries_by_experience[experience_level].append(salary_in_usd)

    return salaries_by_experience

In [18]:
salary_Sec = salary('Security Engineer', salaries)
print(salary_Sec)

{'SE': [238050, 146200, 249800, 142700, 186000, 81800, 234000, 146000, 212000, 132000, 233000, 198000, 240000, 210000, 203550, 122400, 160000, 120000, 170000, 85000, 179000, 112000, 385000, 310000, 407000, 254000, 145000, 115000, 465000, 310000, 195330, 126990, 234000, 146000, 175160, 103035, 225000, 150000, 255200, 157800, 232200, 167200, 190000, 150000, 140000, 115000, 231000, 154000, 220000, 180000, 150000, 100000, 316000, 202000, 250000, 200000, 232000, 130000, 207000, 138000, 164749, 96025, 203044, 130180, 277000, 198000, 200000, 130000, 286700, 179200, 192500, 119000, 135000, 78000, 138000, 86000, 294000, 196000, 185000, 167000, 120000, 90000, 192500, 119000, 187000, 125000, 240000, 187000, 246000, 194000, 234000, 146000, 275000, 155500, 180000, 110000, 198000, 130000, 179000, 112000, 214500, 150000, 235400, 145500, 230000, 168000, 270000, 220500, 247500, 140000, 179000, 112000, 233500, 146000, 244860, 151400, 246000, 118000, 257900, 155200, 179000, 112000, 175100, 113000, 192500, 119000, 196500, 97300, 189000, 144000, 163000, 77000, 160000, 140000, 160000, 140000, 189000, 144000, 179000, 112000, 255200, 157800, 255200, 157800, 212800, 135500, 200000, 160000, 240000, 187000, 224000, 183005, 229900, 201400, 138008, 82909, 294206, 274206, 181400, 102500, 212118, 156783, 225000, 150000, 192000, 125000, 140000, 90000, 210000, 130000, 160000, 130000, 175000, 120000, 225000, 180000, 250000, 160000, 150000, 120000, 220000, 160000, 163200, 125500, 300000, 234000, 250000, 208000, 195000, 64200, 209440, 129500, 254000, 227000, 220000, 160000, 210000, 159090, 218000, 148500, 200000, 170000, 209740, 167790, 176138, 143884, 194400, 129600, 138008, 82909, 247500, 172200, 253000, 162000, 207000, 155300, 160000, 130000, 284000, 175600, 205000, 130000, 221000, 165000, 138008, 105144, 143300, 81900, 225000, 177500, 117500, 220000, 136000, 150000, 120000, 170200, 83900, 180021, 121056, 150000, 120000, 205000, 145200, 127964, 68904, 250000, 167000, 270000, 220500, 270000, 220500, 190000, 150000, 329500, 269600, 163200, 125500, 255200, 157800, 230000, 168000, 230000, 168000, 238050, 175950, 238050, 175950, 179000, 112000, 190000, 160000, 220000, 125000, 220000, 146000, 138008, 105144, 138008, 105144, 240000, 168000, 197640, 144670, 185000, 150000, 150000, 130000, 220000, 160000, 220000, 160000, 133000, 58300, 270000, 200000, 220000, 160000, 258700, 156800, 138008, 105144, 180000, 150000, 198300, 119000, 250000, 125000, 175100, 145900, 175100, 145900, 246000, 147000, 186000, 81800, 138000, 86000, 179000, 112000, 329500, 269600, 138000, 86000, 170000, 110000, 251300, 154600, 161000, 123000, 185000, 155000, 180300, 108200, 166000, 73100, 161638, 107750, 235400, 145500, 192500, 119000, 185000, 150000, 234000, 146000, 242500, 200000, 172400, 146100, 193000, 120500, 485000, 405000, 247500, 172200, 108700, 76100, 175000, 90000, 175000, 136000, 247600, 136000, 309000, 138000, 108700, 76100, 183400, 133400, 145000, 110000, 202700, 149300, 368000, 60680, 260000, 140000, 208000, 112000, 170000, 110000, 194400, 112100, 175000, 150000, 154000, 103000, 210200, 120100, 210200, 120100, 138000, 86000, 145000, 115000, 197800, 98600, 159800, 96300, 218000, 174500, 286000, 172000, 247500, 172200, 220000, 160000, 270000, 200000, 180000, 92960, 220000, 160000, 170000, 110000, 270000, 210000, 220000, 190000, 247600, 136000, 247600, 136000, 150000, 130000, 180000, 160000, 304750, 160000, 150000, 145600, 227700, 154836, 170000, 110000, 175000, 90000, 185000, 150000, 140000, 105000, 270250, 144000, 181000, 155000, 148000, 99000, 166000, 73100, 260000, 173400, 212800, 111600, 133000, 58300, 166000, 73100, 200000, 161500, 280000, 130000, 280000, 130000, 270250, 144000, 195000, 165000, 194210, 155370, 280000, 130000, 280000, 130000, 280000, 130000, 170000, 70000, 280000, 130000, 186000, 81800, 216000, 122100, 106000, 87000, 198000, 114000, 270000, 155800, 247500, 172200, 241000, 172000, 212800, 111600, 170000, 110000, 247250, 160000, 224250, 116000, 384348, 255652, 165000, 115000, 185000, 155000, 181000, 155000, 184800, 161900, 165759, 120552, 235000, 160000, 140000, 105000, 256000, 160000, 247600, 136000, 185000, 150000, 154000, 103000, 185800, 93400, 212800, 111600, 212800, 135500, 229500, 183500, 190000, 136000, 198000, 149000, 206000, 175100, 170000, 105000, 221950, 136850, 239139, 115910, 150000, 135000, 290970, 166230, 247600, 136000, 165759, 120552, 236160, 159408, 200000, 160000, 270600, 180400, 304750, 160000, 155000, 130000, 212800, 135500, 212800, 135500, 155000, 110000, 247600, 136000, 212800, 111600, 175000, 122500, 198000, 137000, 212800, 135500, 247600, 136000, 150000, 130000, 170000, 150000, 273780, 156420, 217000, 277000, 198000, 247600, 136000, 241000, 172000, 212800, 135500, 183000, 144500, 148000, 99000, 178000, 168000, 200000, 150000, 313400, 241340, 232800, 136000, 136000, 91000, 205000, 167500, 212800, 135500, 283780, 218540, 300000, 130000, 212800, 135500, 160000, 130000, 212800, 135500, 180000, 92960, 175000, 90000, 300000, 220000, 212800, 135500, 155800, 142127, 258000, 171000, 148000, 99000, 225000, 156400, 170200, 68400, 294000, 196000, 212800, 135500, 315000, 105000, 148000, 99000, 181000, 155000, 190000, 135000, 297300, 198200, 257850, 187500, 178000, 165000, 300000, 220000, 212800, 135500, 212800, 135500, 313400, 241340, 131500, 99000, 273780, 156420, 185000, 175000, 204490, 148720, 294400, 156400, 212800, 135500, 315000, 105000, 350000, 168000, 130500, 106500, 212800, 135500, 170000, 120000, 220000, 160000, 220000, 160000, 241000, 172000, 212800, 135500, 130500, 106500, 235400, 145500, 232200, 167200, 283000, 211000, 225000, 156400, 237700, 134400, 170200, 68400, 247600, 136000, 272400, 140100, 212800, 135500, 276900, 104400, 148000, 99000, 247600, 136000, 148000, 99000, 239000, 138000, 200000, 116000, 180600, 109800, 238500, 125500, 273780, 156420, 140000, 125000, 234900, 97300, 236300, 132100, 250000, 150000, 212800, 135500, 170200, 68400, 175000, 90000, 234900, 113500, 161900, 110200, 229550, 141900, 198800, 122600, 210000, 178500, 370000, 230000, 236300, 132100, 213900, 145520, 175000, 90000, 270000, 206550, 147100, 90700, 173600, 115800, 212800, 135500, 273780, 156420, 212800, 135500, 212800, 111600, 185000, 175000, 255000, 169000, 119000, 90000, 230000, 120000, 186800, 115500, 212800, 111600, 231400, 119000, 229550, 141900, 247500, 153000, 173500, 90000, 185000, 122000, 159000, 120000, 247000, 168000, 161900, 110200, 144000, 105000, 185000, 175000, 220400, 169600, 247600, 136000, 159000, 120000, 385000, 310000, 186800, 115500, 229550, 141900, 220000, 146000, 203000, 150000, 247000, 168000, 250800, 167200, 245000, 223018, 225000, 156400, 165000, 140250, 259000, 197000, 229550, 141900, 155000, 105000, 246000, 164000, 148000, 99000, 168400, 105200, 237700, 134400, 175000, 90000, 270000, 200000, 135000, 78000, 220000, 160000, 112000, 64000, 247000, 168000, 112000, 64000, 299500, 208400, 168400, 105200, 143750, 87500, 143800, 89900, 247600, 136000, 185000, 165000, 218100, 83100, 203000, 119000, 275900, 187700, 223602, 159881, 240000, 180000, 221000, 185000, 247500, 153000, 185000, 175000, 212800, 135500, 165000, 138000, 247600, 136000, 131000, 99000, 300000, 234000, 212800, 135500, 329500, 269600, 168400, 105200, 212800, 135500, 210000, 180000, 148000, 99000, 190000, 136000, 241000, 172000, 181400, 82000, 99290, 78500, 253000, 172040, 243000, 162000, 168400, 105200, 215000, 159000, 179600, 104000, 148000, 99000, 175000, 90000, 212800, 135500, 168400, 105200, 168400, 105200, 147100, 90700, 198800, 122600, 168400, 90700, 147100, 90700, 147100, 90700, 370000, 230000, 204000, 149000, 370000, 245000, 225000, 156400, 212800, 135500, 175000, 90000, 159000, 116000, 383910, 315850, 302400, 181400, 285000, 145000, 272400, 140100, 200000, 175000, 185000, 175000, 138000, 110000, 194210, 155370, 150000, 110000, 275900, 187700, 252400, 161520, 370000, 245000, 212800, 111600, 210000, 159090, 245000, 185000, 204500, 142200, 329500, 269600, 212800, 135500, 237000, 201450, 250000, 210000, 123000, 82425, 205485, 156560, 230000, 107000, 247600, 136000, 212800, 135500, 115000, 70000, 173600, 115800, 170000, 150000, 200000, 100000, 247500, 153000, 185000, 175000, 230000, 107000, 220000, 160000, 184000, 125120, 247600, 136000, 212800, 135500, 252000, 206200, 170000, 120000, 127188, 100756, 247600, 136000, 247600, 136000, 212800, 135500, 204500, 142200, 362500, 296600, 229550, 141900, 247600, 136000, 185000, 160000, 316000, 202000, 202400, 147200, 190000, 107000, 190000, 140000, 211900, 160080, 300000, 123000, 175000, 90000, 150000, 100000, 127188, 100756, 170000, 120000, 225000, 125000, 383910, 315850, 383910, 315850, 383910, 315850, 212800, 135500, 143675, 107750, 165000, 140250, 247600, 136000, 228700, 155465, 220000, 160000, 247500, 153000, 270000, 200000, 170000, 120000, 141800, 113400, 266400, 124300, 204500, 142200, 300000, 234000, 229550, 141900, 300000, 145000, 230000, 155000, 300000, 130000, 127188, 100756, 247600, 136000, 200000, 130000, 205000, 140000, 160000, 110000, 112923, 68736, 185000, 175000, 283780, 233840, 383910, 315850, 383910, 315850, 383910, 315850, 175000, 90000, 266400, 124300, 226520, 181220, 157476, 104981, 138000, 108000, 134700, 114500, 212800, 135500, 212800, 135500, 212800, 111600, 212800, 111600, 247600, 136000, 105000, 83500, 218000, 148500, 112000, 64000, 192500, 175000, 240000, 168000, 212800, 135500, 212800, 135500, 252400, 161520, 252000, 151200, 212800, 111600, 135500, 82900, 143675, 107750, 185000, 175000, 212800, 135500, 220000, 146000, 338603, 254323, 190000, 136000, 212800, 135500, 141600, 101100, 294000, 196000, 246250, 221500, 168400, 105200, 212800, 135500, 362500, 296600, 229100, 206200, 225000, 156400, 247600, 136000, 168700, 120500, 222200, 150900, 123985, 94474, 205485, 156560, 143675, 107750, 241000, 172000, 260000, 180000, 254000, 200000, 202400, 147200, 383910, 315850, 219300, 170685, 329500, 269600, 225000, 156400, 247500, 153000, 247600, 136000, 204500, 142200, 247600, 136000, 247500, 153000, 229100, 205400, 272300, 189400, 230000, 145000, 218600, 145700, 225000, 156400, 174136, 139309, 220000, 160000, 123000, 82425, 352000, 220000, 383910, 315850, 160000, 140000, 230000, 107000, 168400, 90700, 168400, 105200, 267100, 188500, 225000, 156400, 329500, 269600, 220000, 136000, 260000, 244000, 204500, 142200, 230000, 185000, 155000, 88000, 212800, 135500, 236900, 175100, 247600, 136000, 212800, 135500, 170000, 120000, 185000, 175000, 247500, 153000, 260600, 200800, 316000, 202000, 190000, 136000, 226000, 162000, 247600, 136000, 168000, 120000, 212800, 159300, 212800, 135500, 212800, 135500, 329500, 269600, 168400, 105200, 260000, 195000, 225000, 156400, 272300, 189400, 189750, 131100, 204500, 142200, 250000, 181000, 247600, 136000, 247600, 136000, 212800, 135500, 273308, 182205, 194500, 136000, 112000, 64000, 141600, 101100, 95000, 200000, 168000, 229100, 205400, 247500, 153000, 272300, 189400, 285000, 170000, 175000, 135000, 147100, 90700, 210000, 160000, 274600, 148800, 238700, 173600, 123985, 94474, 225000, 156400, 206000, 175100, 178000, 165000, 200000, 168000, 317000, 198000, 272300, 189400, 218835, 170094, 147000, 127000, 265000, 177000, 178000, 165000, 260000, 180000, 216450, 123750, 352000, 220000, 294700, 151500, 178600, 123750, 210000, 108000, 210000, 108000, 225000, 156400, 210000, 108000, 190000, 135000, 175000, 90000, 189200, 126600, 324100, 166700, 225000, 156400, 247500, 153000, 210000, 108000, 225000, 156400, 225000, 156400, 277000, 198000, 247500, 153000, 125000, 122000, 220000, 180000, 123985, 94474, 247500, 153000, 150000, 120000, 120000, 85000, 240500, 137500, 185000, 175000, 220000, 160000, 170000, 120000, 300000, 119000, 300000, 119000, 125000, 122000, 178448, 135960, 170000, 120000, 200000, 185000, 218835, 170094, 170000, 135000, 64000, 210000, 108000, 189520, 91052, 178000, 165000, 250830, 143370, 182000, 98000, 188600, 111550, 300000, 160000, 235400, 160080, 240500, 137500, 180600, 109800, 135000, 80000, 210000, 108000, 175000, 135000, 352000, 220000, 257000, 187200, 198800, 122600, 294000, 196000, 180000, 170000, 140000, 216450, 123750, 140000, 120000, 175000, 135000, 135000, 80000, 317000, 198000, 282000, 176000, 370000, 200000, 300000, 130000, 170000, 140000, 144000, 77600, 178448, 135960, 352000, 220000, 211295, 169036, 220000, 160000, 152900, 117700, 170000, 120000, 272300, 189400, 235400, 160080, 170000, 120000, 240000, 200000, 263600, 194000, 204500, 142200, 201000, 143000, 272300, 189400, 168000, 120000, 250830, 143370, 170000, 140000, 201000, 143000, 163000, 94000, 186800, 115500, 204500, 142200, 147100, 90700, 247600, 177100, 211295, 169036, 177300, 136300, 258800, 199200, 150000, 100000, 163400, 90000, 200000, 180000, 278700, 159300, 200000, 180000, 209880, 170685, 231000, 128000, 250830, 143370, 147000, 127000, 190000, 136000, 168400, 105200, 198800, 122600, 247500, 153000, 279500, 172800, 231000, 128000, 272300, 189400, 201000, 143000, 329500, 269600, 235400, 160080, 204500, 142200, 266000, 152000, 180000, 150000, 170000, 120000, 175000, 130000, 175000, 130000, 95000, 75000, 120000, 85000, 150000, 120000, 220000, 180000, 250000, 180000, 279500, 172800, 247500, 153000, 116000, 90000, 168400, 105200, 272250, 198000, 207500, 145600, 212800, 135500, 190000, 155000, 198800, 122600, 185000, 157250, 261201, 179520, 240000, 187000, 204500, 142200, 155000, 135000, 204500, 142200, 115000, 85000, 140000, 105000, 140000, 113000, 183000, 141000, 177300, 136300, 200400, 172100, 200400, 172100, 180000, 160000, 185900, 129300, 204500, 142200, 204500, 142200, 247500, 172200, 247500, 172200, 210000, 185000, 250000, 188000, 180000, 165000, 185900, 129300, 247500, 172200, 186000, 148800, 247500, 172200, 155000, 130000, 240000, 150000, 247500, 172200, 205485, 156560, 151410, 115360, 125000, 122000, 157250, 133663, 163000, 122000, 160000, 140000, 220100, 176080, 243225, 179775, 215000, 159000, 110000, 95000, 194000, 146000, 200000, 180000, 163575, 115800, 211600, 182160, 211600, 182160, 145000, 120000, 210000, 140000, 211600, 182160, 207000, 139000, 95000, 154700, 131495, 235000, 205000, 154700, 131495, 150000, 140000, 125000, 110000, 121800, 81200, 181940, 132000, 210000, 160000, 182000, 153000, 188700, 103600, 157250, 133663, 150000, 130000, 207000, 153000, 220100, 176080, 226400, 124300, 181940, 132000, 186000, 148800, 200100, 160080, 165400, 132320, 105800, 81600, 124600, 96000, 245000, 190000, 226400, 124300, 154000, 139000, 82900, 63900, 276900, 168400, 105800, 81600, 120000, 90000, 220000, 140000, 175000, 130000, 195000, 170000, 160000, 120000, 192400, 90700, 200100, 160080, 165200, 133000, 165200, 133000, 146800, 118200, 115700, 94700, 175000, 120000, 165400, 132320, 184800, 148800, 165400, 132320, 220000, 165400, 184800, 148800, 145000, 118600, 165400, 132320, 165400, 132320, 160000, 130000, 131500, 111775, 221500, 104400, 210000, 160000, 165400, 132320, 201000, 160080, 165400, 132320, 200100, 160080, 220100, 176080, 230000, 190000, 182750, 153000, 207000, 153000, 220100, 176080, 120000, 90000, 276900, 104400, 192400, 90700, 200100, 160080, 190000, 107000, 196000, 146000, 160000, 119500, 255000, 170000, 145000, 130000, 148000, 138000, 142000, 170000, 300000, 106000, 172000, 149000], 'MI': [166000, 128000, 207444, 158156, 174000, 147900, 162150, 91800, 138000, 86000, 133000, 58300, 113000, 74000, 240000, 187000, 165000, 140000, 220000, 175000, 166000, 128000, 208300, 130100, 190000, 149000, 250000, 220000, 121100, 71500, 143300, 81900, 106000, 66000, 154818, 96761, 175000, 145000, 147900, 79700, 128000, 64000, 184375, 88500, 133000, 58400, 234900, 113500, 138000, 115000, 166000, 73100, 250000, 160000, 87800, 76300, 196500, 97300, 185000, 100200, 258000, 171000, 106000, 66000, 151200, 100800, 200000, 75700, 106700, 57700, 212800, 135500, 128000, 100400, 140000, 100000, 121100, 71500, 146100, 86500, 161000, 116000, 184000, 109480, 234900, 113500, 170200, 68400, 234900, 113500, 200000, 200000, 179000, 111000, 176000, 117000, 234900, 113500, 196500, 97300, 253000, 150535, 212800, 135500, 79000, 62000, 179000, 112000, 163796, 107000, 175000, 145000, 700000, 100000, 174000, 147900, 165000, 140000, 175000, 145000, 181916, 115108, 229900, 164200, 166000, 73100, 192800, 116800, 140000, 125000, 264000, 192000, 305600, 133400, 305600, 133400, 175000, 135000, 265000, 164000, 212800, 135500, 106000, 66000, 151300, 126100, 133000, 58300, 194350, 143650, 234900, 113500, 117400, 70000, 201400, 121600, 148000, 99000, 166000, 73100, 210000, 180000, 166000, 73100, 125338, 91155, 234000, 146000, 140000, 120500, 205700, 103300, 234000, 146000, 205700, 103300, 143300, 81900, 173400, 99100, 140000, 105000, 133000, 58400, 170000, 140000, 170000, 140000, 212800, 111600, 196500, 97300, 100000, 85000, 133000, 58300, 117163, 99290, 95000, 63000, 128622, 85782, 149500, 80500, 180000, 120000, 201250, 128000, 225000, 66000, 235400, 145500, 148000, 100000, 212800, 135500, 185000, 167000, 200100, 160900, 329500, 269600, 212800, 135500, 251000, 167000, 329500, 269600, 329500, 269600, 215000, 159000, 212800, 111600, 150000, 130000, 194300, 129500, 145000, 232800, 136000, 135000, 125000, 140000, 90000, 135000, 125000, 135000, 125000, 140000, 90000, 140000, 98000, 125000, 115000, 225000, 191000, 160000, 114000, 219535, 146115, 120000, 110000, 175000, 90000, 90000, 140000, 90000, 175000, 90000, 150000, 120000, 150000, 115000, 175000, 90000, 188500, 121600, 175000, 90000, 219535, 146115, 226350, 164500, 150000, 100000, 219535, 146038, 125000, 110000, 100000, 80000, 150000, 120000, 100000, 80000, 150000, 120000, 190000, 140000, 210000, 150000, 116000, 90000, 147800, 90400, 197000, 135000, 147800, 90400, 128000, 96000, 95000, 70000, 130000, 120000, 72500, 145000, 105400, 108070, 91860, 160000, 110000, 189120, 147093, 145000, 118600, 140000, 90000, 172000, 87000, 141300, 102100, 141300, 88100, 210000, 140000, 182000, 153000, 208775, 147800, 200000, 150000, 83500, 120000, 130000, 130000, 110000, 135000, 80000, 192000], 'EN': [120000, 75000, 106000, 66000, 106000, 66000, 145000, 113700, 162240, 47840, 186000, 81800, 190000, 149000, 170000, 120000, 247600, 136000, 120000, 86700, 120000, 75000, 215000, 111600, 170000, 120000, 135300, 98400, 130000, 100000, 132000, 96000, 130000, 100000, 130000, 100000, 120000, 75000, 120000, 75000, 122000, 50000], 'EX': [180000, 160000, 258500, 159800, 235000, 194000, 321400, 247200, 280000, 200000, 340000, 272000, 256000, 154000, 225000, 175000, 337250, 202250, 169100, 140900, 360000, 285000, 263600, 194000, 250000, 180000, 250000, 185000, 231840, 146080, 170000, 120000, 250000, 180000, 250000, 180000, 100000, 80000, 250000, 185000]}

In [43]:
# finding the length of SE role
len(salary_Sec['SE'])

1916

In [44]:
# finding the length of MI role
len(salary_Sec['MI'])

351

In [45]:
# finding the length of EN role
len(salary_Sec['EN'])

42

In [46]:
# finding the length of EX role
len(salary_Sec['EX'])

40

In [47]:
# Create a function to find out the average salary of a role

def ave_salary(salary_role, experience_level):
    
    total_sal_exp_lvl = sum(salary_role[experience_level])
    len_total_sal_exp_lvl = len(salary_role[experience_level])

    # Finding the average SE level salary

    ave_sal_exp_lvl = total_sal_exp_lvl//len_total_sal_exp_lvl
    print(ave_sal_exp_lvl)

In [48]:
ave_salary(salary_Sec,'SE')

177996

In [49]:
ave_salary(salary_Sec, 'MI')

146808

In [50]:
ave_salary(salary_Sec, 'EN')

119528

In [51]:
ave_salary(salary_Sec, 'EX')

215448

In [52]:
salary_Ana = salary('Security Analyst', salaries)
print(salary_Ana)

{'SE': [138000, 86000, 179000, 112000, 161500, 89700, 153900, 85500, 85000, 75000, 175000, 125000, 115920, 84000, 200000, 96000, 168715, 99230, 246000, 118000, 145000, 125000, 119000, 52100, 168715, 99230, 179000, 112000, 138000, 86000, 193866, 114039, 190000, 150000, 133000, 104910, 134000, 90000, 145000, 120000, 178250, 88400, 212568, 132855, 133000, 58300, 166000, 73000, 97000, 65000, 175000, 157000, 134000, 90000, 130000, 110000, 102793, 71281, 115000, 70000, 130000, 95000, 175000, 125000, 285000, 95000, 132170, 105740, 125000, 95000, 160000, 120000, 152570, 89300, 115500, 71400, 130000, 107000, 165000, 140250, 222000, 115920, 179000, 140000, 95000, 75000, 123000, 96000, 112000, 88000, 179000, 130000, 179000, 130000, 145000, 100000, 90600, 72500, 198900, 75000, 90600, 72500, 211750, 192500, 95000, 75000, 179000, 140000, 150300, 59800, 100000, 90000, 100000, 90000, 80000, 64000, 120350, 74400, 110400, 68000, 120000, 90000, 135000, 110000, 185900, 129300, 154300, 90000, 155500, 127500, 225000, 156400, 120350, 74400, 123000, 83000, 120350, 74400, 120350, 74400, 192500, 122500, 123000, 83000, 179875, 107925, 166500, 120600, 150000, 110500, 148000, 114000, 140000, 86000, 130000, 90000, 123088, 82425, 155500, 127500, 105000, 215000, 89000, 250000, 180000, 166500, 120600, 146000, 122000, 179000, 149000, 179000, 149000, 250000, 180000, 145000, 209100, 114800, 221500, 90700, 136600, 109280, 105800, 81600, 146000, 122000, 150260, 109280, 144200, 132870, 168400, 148000, 180000, 115000, 80000, 105000], 'MI': [130000, 95000, 133000, 58300, 138000, 86000, 112000, 95000, 97000, 78000, 179192, 139963, 163000, 77000, 112000, 95000, 108000, 83000, 65000, 166000, 73100, 179000, 112000, 150000, 120000, 131250, 93750, 154100, 92400, 179000, 112000, 234000, 146000, 178250, 107950, 127650, 76500, 100000, 70000, 145000, 125000, 150000, 120000, 150000, 225000, 75000, 250000, 150000, 145000, 115000, 145000, 115000, 145000, 115000, 175600, 117000, 118100, 46900, 145000, 115000, 130000, 95000, 145000, 115000, 145000, 115000, 120000, 120000, 145000, 115000, 145000, 115000, 145000, 115000, 145000, 115000, 85000, 70000, 130000, 90000, 141662, 111700, 89000, 65000, 89000, 65000, 85000, 75000, 100000, 72000, 90000, 70000, 95000, 70000, 115000, 114000, 89000, 68462, 102600, 82080, 193800, 62000, 60000, 50000, 60000, 50000, 65000, 55000, 60000, 50000, 91700, 82600, 97000, 115000, 115000], 'EN': [62000, 39000, 138000, 86000, 170000, 146000, 125000, 100000, 170000, 150000, 133000, 58300, 90000, 80000, 138000, 86000, 200000, 96000, 190000, 96400, 133000, 58300, 138000, 86000, 147290, 87800, 138000, 86000, 138000, 86000, 120000, 100000, 138000, 86000, 124000, 99000, 106000, 66000, 148017, 87069, 143300, 81900, 124000, 99000, 138000, 86000, 138000, 86000, 101000, 96000, 138000, 86000, 247250, 118400, 120000, 110000, 138000, 86000, 136285, 85178, 138000, 86000, 124000, 99000, 140000, 90000, 124000, 99000, 88026, 74598, 124000, 99000, 135000, 85000, 135000, 85000, 122000, 82000, 100000, 90000, 70000, 60000, 100000, 90000, 60000, 140000, 70000, 65000, 70000, 50000, 75000, 73000, 60008, 100300, 48000], 'EX': [110000, 90000, 211200, 123200]}

In [53]:
# finding the length of SE role in Security Analyst
len(salary_Ana['SE'])

196

In [54]:
# finding the length of SE role in Security Analyst
len(salary_Ana['MI'])

115

In [55]:
# finding the length of SE role in Security Analyst
len(salary_Ana['EN'])

95

In [56]:
# finding the length of SE role in Security Analyst
len(salary_Ana['EX'])

4

In [58]:
# average salary of secuirty analyst as a role of SE
ave_salary(salary_Ana, 'SE')

128534

In [59]:
# average salary of secuirty analyst as a role of MI
ave_salary(salary_Ana, 'MI')

112448

In [60]:
# average salary of secuirty analyst as a role of EX
ave_salary(salary_Ana, 'EX')

133600

In [61]:
# average salary of secuirty analyst as a role of EN
ave_salary(salary_Ana, 'EN')

106688

#### Result of Salaries as a Security Engineer within USA
* The average salary of SE role is 177996 USD
* The average salary of MI role is 146808 USD 
* The average salary of EN role is 119528 USD
* The average salary of EX role is 215448 USD

* Majorly positions are occupied as SE role (1916)
* Total positions as Security Engineer are (2349)

#### Result of Salaries as a Security Analyst within USA
* The average salary of SE role is 128534 USD
* The average salary of MI role is 112448 USD
* The average salary of EN role is 106688 USD
* The average salary of EX role is 133600 USD
* Majorly positions are occupied as SE role (196)
* Total positions as Security Analyst are (410)

In [62]:
# Creating a function for finding out the size of the companies for both role inside the US. 

def company_size(job_title, salaries):

    specific_job_df = salaries[salaries['job_title'] == job_title]
    specific_job_df_us = specific_job_df[specific_job_df['employee_residence'] == 'US']
    # Access the 'company_size' information for the specific job title
    company_size = specific_job_df_us['company_size']

    # Initialize a dictionary to store company sizes for each group
    company_sizes_dict = {
        'S': [],
        'M': [],
        'L': []
    }

    # Iterate over each company size for the specific job title
    for size in company_size:
        if size == "S":
            company_sizes_dict['S'].append(size)
        elif size == "M":
            company_sizes_dict['M'].append(size)
        elif size == "L":
            company_sizes_dict['L'].append(size)
    return company_sizes_dict

#### Finding out the length of all size of companies for Security Engineer

In [73]:
size = company_size('Security Engineer', salaries)
print("Number of small companies for Security Engineer: ",len(size['S']))

Number of small companies for Security Engineer:  6

In [77]:
print("Number of medium companies for Security Engineer: ",len(size['M']))

Number of medium companies for Security Engineer:  2096

In [78]:
print("Number of large companies for Security Engineer: ",len(size['L']))

Number of large companies for Security Engineer:  247

#### Finding out the length of all size of companies for Security Analyst

In [79]:
size = company_size('Security Analyst', salaries)
print("Number of small companies for Security Analyst: ",len(size['S']))
print("Number of medium companies for Security Analyst: ",len(size['M']))
print("Number of large companies for Security Analyst: ",len(size['L']))

Number of small companies for Security Analyst:  5
Number of medium companies for Security Analyst:  373
Number of large companies for Security Analyst:  32

### Findings from companies sizes

* The number of medium and large size is more comparatively to small size companies which are hiring Security Engineers and Security Analysts which shows that starting specializations in these fields is quite important and will be worthful for the future of the students as well of the institute.

#### Remote Jobs 
* There is one more factor which can be useful for the students and they can opt these specializations. Its remote job.

In [84]:
# Create a function to find out the remote jobs choice 

def count_remote_choices(job_title, salaries):
   
    #
    specific_job_df = salaries[salaries['job_title'] == job_title]
    specific_job_df_us = specific_job_df[specific_job_df['employee_residence'] == 'US']
    
    # Access the 'remote_job_choice' information for the specific job title with US
    remote_ratio_specific_job = specific_job_df_us['remote_ratio']

    # Initialize counts
    count_100 = 0
    count_50 = 0
    count_0 = 0

    # Iterate over each remote job choice for the specific job title
    for remote_choice in remote_ratio_specific_job:
        if remote_choice == 100:
            count_100 += 1
        elif remote_choice == 50:
            count_50 += 1
        else:
            count_0 += 1

    # Create a dictionary to store the counts
    counts_dict = {
        '100% remote': count_100,
        '50% remote': count_50,
        '0% remote': count_0
    }

    return counts_dict


counts = count_remote_choices('Security Engineer', salaries)
print("Counts for Security Engineer jobs:", counts)

Counts for Security Engineer jobs: {'100% remote': 744, '50% remote': 8, '0% remote': 1597}

In [88]:
# total jobs for "Security Engineer" role is already calculated previously 

percentage_remoteJob_SE = (744/2349)*100 
percentage_remoteJob_SE

31.673052362707537

In [86]:
# Finding out the remote jobs for Security Analyst

counts_SA = count_remote_choices('Security Analyst', salaries)
print("Counts for Security Engineer jobs:", counts_SA)

Counts for Security Engineer jobs: {'100% remote': 143, '50% remote': 2, '0% remote': 265}

In [89]:
# len(salary_Ana['SE']) is already calculated previously 
percentage_remoteJob_SA = (143/410)*100
percentage_remoteJob_SA

34.8780487804878

#### Findings from Remote jobs:
* 31% of the total positions of Security Engineer in US are remote jobs.
* 34% of the total positions of Security Analyst in US are remote.

In [90]:
### Creating a function yo check the number of positions of a role in different years

def count_jobs_by_year(job_title, work_year, salaries):
   
    specific_job_df = salaries[salaries['job_title'] == job_title]
    
    # Filter further to include only records where the employee residence is 'US' and work year matches
    specific_job_df_us = specific_job_df[(specific_job_df['employee_residence'] == 'US') & 
                                         (specific_job_df['work_year'] == work_year)]
    
   
    work_year_specific_job = specific_job_df_us['work_year']

    # Initialize count for jobs in the specified year
    count_jobs = len(work_year_specific_job)
    
    return count_jobs

### Finding jobs from 2020-2024 in Security Engineering

In [91]:
jobs_SecEng_2020 = count_jobs_by_year('Security Engineer', 2020, salaries)
jobs_SecEng_2020

10

In [93]:
jobs_SecEng_2021 = count_jobs_by_year('Security Engineer', 2021, salaries)
jobs_SecEng_2021

9

In [94]:
jobs_SecEng_2022 = count_jobs_by_year('Security Engineer', 2022, salaries)
jobs_SecEng_2022

297

In [95]:
jobs_SecEng_2023 = count_jobs_by_year('Security Engineer', 2023, salaries)
jobs_SecEng_2023

1606

In [96]:
jobs_SecEng_2024 = count_jobs_by_year('Security Engineer', 2024, salaries)
jobs_SecEng_2024

427

### Finding jobs from 2020-2024 in Security Analyst

In [100]:
jobs_SecEng_2020 = count_jobs_by_year('Security Analyst', 2020, salaries)
print(jobs_SecEng_2020)
jobs_SecEng_2021 = count_jobs_by_year('Security Analyst', 2021, salaries)
print(jobs_SecEng_2021)
jobs_SecEng_2022 = count_jobs_by_year('Security Analyst', 2022, salaries)
print(jobs_SecEng_2022)
jobs_SecEng_2023 = count_jobs_by_year('Security Analyst', 2023, salaries)
print(jobs_SecEng_2023)
jobs_SecEng_2024 = count_jobs_by_year('Security Analyst', 2024, salaries)
print(jobs_SecEng_2024)

2
14
69
221
104

### Job growth in Security Engineer and Analyst in US
* Accoding to the data statistics, job growth in the US in the field of Security Engineer is increasing.
* In 2023 compare to 2022, almost 6 times job growth is observed in the field of Security Engineer. 
* In 2024 (Though its just beginning of 2024) we have noticed 2 times more positions in the field of security engineer

* Similarly compare to 2022, almost 3 times more positions are introduced in the field of Security Analyst.
* A significant number of new positions in the field of Security Analyst is observed in 2024 till now as well.